<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chain %><br>
    <%= f.text_field :chain %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.number_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.number_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :department %><br>
    <%= f.number_field :department %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :hour %><br>
    <%= f.text_field :hour %>
  </div>
  <div class="field">
    <%= f.label :store_id %><br>
    <%= f.number_field :store_id %>
  </div>
  <div class="field">
    <%= f.label :is_address_computed %><br>
    <%= f.check_box :is_address_computed %>
  </div>
  <div class="field">
    <%= f.label :is_location_computed %><br>
    <%= f.check_box :is_location_computed %>
  </div>
  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :ignored %><br>
    <%= f.check_box :ignored %>
  </div>
  <div class="field">
    <%= f.label :ignore_reason %><br>
    <%= f.text_field :ignore_reason %>
  </div>
  <div class="field">
    <%= f.label :overload_chain_name %><br>
    <%= f.text_field :overload_chain_name %>
  </div>
  <div class="field">
    <%= f.label :mandatory_coords %><br>
    <%= f.check_box :mandatory_coords %>
  </div>
  <div class="field">
    <%= f.label :country_code %><br>
    <%= f.text_field :country_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
