<%# app/views/shops/index.html.erb %>
<%= javascript_include_tag "index.js" %>
<h1>Listing Shops</h1>

<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
      <%= f.text_field(
        :search_query,
        class: 'filterrific-periodically-observed'
    ) %>
  </div>
      Sorted by
         <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
       reset_filterrific_url,
     ) %>
  </iv>
  <%= render_filterrific_spinner %>
<% end %>
<%= render(
  partial: 'shops/list',
  locals: { shops: @shops }
) %>

<%= link_to 'New Shop', new_shop_path %>



